<h1>Welcome to Keiths Records</h1>

<h2>Online ordering app</h2>

<h3>Please choose from the following:</h3>

<div id="nav_bar">
<li>
  <a href="/artists">View Artists</a>
</li>
<li>
  <a href="/albums">View Albums</a>
</li>
<li>
  <a href="/inventory">Inventory</a>
</li>
</div>


<!-- <ul>
  <li><a href="/albums">View Albums</a></li>
  <li><a href="/artists">Add Artist</a></li>
  <li><a href="/albums/new">Add Album</a></li>
</ul> -->

