<!DOCTYPE html>
<html>
<head>
  <title>Vinyl Emporium</title>

  <link rel="icon" href="http://www.metalsucks.net/wp-content/uploads/2014/10/vinyl_image.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/navigation.css">

</head>
<body>
<%= yield %>
<link rel="icon" href="/images/vinyl.jpeg" />
<main class="flex flex--row">
  <nav>
    <a href="/">Home</a>
  </nav>
  <section id="content">
  </section>
  </main>
</body>
</html>