<form action="/albums/create" method="post">
  <label>
  Select an artist:
    <select name="artist_id">
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  </label>
  <label for= 'title'>Album Name:</label><input id="title" type='text' name="title">

  <label for= 'quantity'>Quantity:</label><input id="quantity" type='text' name="quantity">

  <input type="submit" value="Add Album">
  </form>